@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-dark: oklch(0.92 0.035 264);
    --bg: oklch(0.96 0.035 264);
    --bg-light: oklch(1 0.035 264);
    --text: oklch(0.15 0.07 264);
    --text-muted: oklch(0.4 0.07 264);
    --highlight: oklch(1 0.07 264);
    --border: oklch(0.6 0.07 264);
    --border-muted: oklch(0.7 0.07 264);
    --primary: oklch(0.4 0.1 264);
    --secondary: oklch(0.4 0.1 84);
    --danger: oklch(0.5 0.07 30);
    --warning: oklch(0.5 0.07 100);
    --success: oklch(0.5 0.07 160);
    --info: oklch(0.5 0.07 260);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: oklch(0.1 0.035 264);
    --bg: oklch(0.15 0.035 264);
    --bg-light: oklch(0.23 0.035 264);
    --text: oklch(0.96 0.07 264);
    --text-muted: oklch(0.76 0.07 264);
    --highlight: oklch(0.5 0.07 264);
    --border: oklch(0.4 0.07 264);
    --border-muted: oklch(0.3 0.07 264);
    --primary: oklch(0.76 0.1 264);
    --secondary: oklch(0.76 0.1 84);
    --danger: oklch(0.7 0.07 30);
    --warning: oklch(0.7 0.07 100);
    --success: oklch(0.7 0.07 160);
    --info: oklch(0.7 0.07 260);
  }
}
